service: bliblou-recipes-api

package:
  individually: true

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: false
  product: bliblou
  stage: ${opt:stage, self:provider.stage}
  tableName: ${self:custom.stage}-recipes
  tableRegion: ${self:provider.region}
  bucket: !Ref PicturesBucket 
  # ${file(resources/refs.yml):picturesBucket}
  # dev:
  #   deletion_policy: Delete
  # prod:
  #   deletion_policy: Retain

provider:
  name: aws
  runtime: python3.6
  stage: dev
  region: eu-west-1
  environment:
    tableName: ${self:custom.tableName}
    tableRegion: ${self:custom.tableRegion}
    bucket: ${self:custom.bucket}
    thumbnailWidth: 287
    thumbnailHeight: 136
  iamRoleStatements:
    - Effect: Allow
      Action:
        - logs:CreateLogGroup
        - logs:CreateLogStream
        - logs:PutLogEvents
      Resource: arn:aws:logs:*:*:*
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeStream
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:ListStreams
      Resource:
        - "Fn::GetAtt": [ RecipesTable, Arn ]
    - Effect: Allow
      Action:
        - s3:GetObject
        - s3:PutObject
        - s3:PutObjectAcl
        - s3:DeleteObject
      Resource:
        - Fn::Join:
          - "/"
          - - Fn::GetAtt: [ PicturesBucket, Arn ]
            - "*"

functions:
  create:
    handler: recipes-api/create.main
    events:
      - http:
          path: recipes
          method: post
          cors: true
          authorizer: aws_iam
  get:
    handler: recipes-api/get.main
    events:
      - http:
          path: recipes/{id}
          method: get 
          cors: true
          authorizer: aws_iam
  list:
    handler: recipes-api/list.main
    events:
      - http:
          path: recipes
          method: get
          cors: true
          authorizer: aws_iam
  update:
    handler: recipes-api/update.main
    events:
      - http:
          path: recipes/{id}
          method: put
          cors: true
          authorizer: aws_iam
  delete:
    handler: recipes-api/delete.main
    events:
      - http:
          path: recipes/{id}
          method: delete
          cors: true
          authorizer: aws_iam
  # addThumbnail:
  #   handler: pictures/create-postprocess.main
  #   events:
  #     - stream:
  #         type: dynamodb
  #         arn:
  #           Fn::GetAtt: [RecipesTable, StreamArn]
  removeThumbnail:
    handler: pictures/remove-postprocess.main
    events:
      - s3:
          bucket: ${self:custom.bucket}
          event: s3:ObjectRemoved:*
          rules:
            - prefix: public/images/
          existing: true

resources:
  - ${file(resources/dynamodb-table.yml)}
  - ${file(resources/s3-bucket.yml)}
  - ${file(resources/api-gateway.yml)}